*{
    font-size:12px;
}
body {
    font-family:verdana,helvetica,arial,sans-serif;
    padding:20px;
    font-size:12px;
    margin:0;
}
h2 {
    font-size:18px;
    font-weight:bold;
    margin-bottom:15px;
}
.demo-info{
    padding:0 0 12px 0;
}

.demo-tip{
    display:none;
}


.u8_logo{
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 25px;
    margin-left: 50px;
    background: rgba(0,0,0,0) url("../images/logo.png") no-repeat;
}

.u8_header{
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0) url("../images/header_bg.png") repeat-x scroll 0 0;
}



.u8_header .u8_title{
    font-size: 24px;
    color: #ffffff;
    height: 100px;
    line-height: 100px;
    float:left;
    overflow: hidden;
    margin-left: 10px;
}

#fm{
    margin:0;
    padding:10px 30px;
}

.ftitle{
    font-size:14px;
    font-weight:bold;
    padding:5px 0;
    margin-bottom:10px;
    border-bottom:1px solid #ccc;
}

.u8_form{
    width:400px;height:260px;padding:10px 20px
}

.u8_form_row{
    margin-bottom:5px;
}
.u8_form_row label{
    display:inline-block;
    width:100px;
    text-align: right;
    margin-right: 10px;
    margin-left: 10px;
}
.u8_form_row input{
    width:160px;
}


.u8_menu{

}

ul{
    list-style:none;
}

li{
    list-style:none;
    background: url("../images/menu_icon.png") no-repeat;
    padding-left: 20px;
}

a{
    color:black;
    font-size: 12px;
    text-decoration: none;
}

a:active{
    color: #0000ff;
}

a:visited{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #0000ff;
    text-decoration: underline;
}